<a href="https://colab.research.google.com/github/gulabpatel/LinearProgramming/blob/main/03%3A%20LP_pyomo_gurobi_worker_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Problem Statement

*Exercise 2.12 from Operations Research: Models and Methods by Jensen & Bard*

Ten jobs are to be completed by three workers during the next week. Each worker has a 40-hour work week. The times for the workers to complete the jobs are shown in the table. The values in the cells assume that each job is completed by a single worker; however, jobs can be shared, with completion times being determined proportionally If no entry exists in a particular cell, it means that the corresponding job cannot be performed by the corresponding worker. Set up and solve an LP model that will determine the optimal assignment of workers to jobs. The goal is to minimize the total time required to complete all the jobs.

| Workers \ Tasks |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 | 10 |
|:---------------:|---:|---:|---:|---:|---:|---:|---:|---:|---:|---:|
| A               |  - |  7 |  3 |  - |  - | 18 | 13 |  6 |  - |  9 |
| B               | 12 |  5 |  - | 12 |  4 | 22 |  - | 17 | 13 |  - |
| C               | 18 |  - |  6 |  8 | 10 |  - | 19 |  - |  8 | 15 |

## Import

In [1]:
!pip install pyomo
# !apt install glpk-utils
# !pip install glpk

Requirement already satisfied: pyomo in /usr/local/lib/python3.7/dist-packages (6.4.0)
Requirement already satisfied: ply in /usr/local/lib/python3.7/dist-packages (from pyomo) (3.11)

In [2]:
import pandas as pd
import pyomo.environ as pe
import pyomo.opt as po

## Define Data

In [3]:
workers = {'A', 'B', 'C'}

tasks = set(range(1, 11))

c = {
    ('A',  2):  7,
    ('A',  3):  3,
    ('A',  6): 18,
    ('A',  7): 13,
    ('A',  8):  6,
    ('A', 10):  9,
    ('B',  1): 12,
    ('B',  2):  5,
    ('B',  4): 12,
    ('B',  5):  4,
    ('B',  6): 22,
    ('B',  8): 17,
    ('B',  9): 13,
    ('C',  1): 18,
    ('C',  3):  6,
    ('C',  4):  8,
    ('C',  5): 10,
    ('C',  7): 19,
    ('C',  9):  8,
    ('C', 10): 15,
}

max_hours = 40

## Model
Define $W$ as the set of workers and $T$ as the sets of tasks. Also, define $c_{wt}$ as the number of hours worker $w$ requires to complete task $t$. (Note that we do not explicitly prohibit a worker from completiting as task; rather, we make the cost arbitrarily large if worker $w$ is unable to perform task $t$.) Let $x_{wt}$ be the proportion of task $t$ that is completed by worker $j$. Let $H$ be the max number of hours that any single worker may log in a week. We formulate as follows.


$$
\begin{alignat*}{3}
\text{minimize  }  & \sum_{w \in W} \sum_{t \in T} c_{wt} x_{wt} && \\
\text{subject to  }
& \sum_{t \in T} c_{wt} x_{wt} \le H,
&& \qquad \forall w \in W \\
& \sum_{w \in W} x_{wt} = 1
&& \qquad \forall t \in T \\
& 0 \le x_{wt} \le 1,
&& \qquad \forall w \in W, \forall t \in T
\end{alignat*}
$$

## Implement

In [4]:
model = pe.ConcreteModel()

In [5]:
model.workers = pe.Set(initialize=workers)
model.tasks = pe.Set(initialize=tasks)

WARNING: Initializing ordered Set workers with a fundamentally unordered data
    source (type: set).  This WILL potentially lead to nondeterministic
    behavior in Pyomo
WARNING: Initializing ordered Set tasks with a fundamentally unordered data
    source (type: set).  This WILL potentially lead to nondeterministic
    behavior in Pyomo

In [6]:
model.c = pe.Param(model.workers, model.tasks, initialize=c, default=1000)
model.max_hours = pe.Param(initialize=max_hours)

In [7]:
model.x = pe.Var(model.workers, model.tasks, domain=pe.Reals, bounds=(0, 1))

In [8]:
expr = sum(model.c[w, t] * model.x[w, t]
           for w in model.workers for t in model.tasks)
model.objective = pe.Objective(sense=pe.minimize, expr=expr)

In [9]:
model.tasks_done = pe.ConstraintList()
for t in model.tasks:
    lhs = sum(model.x[w, t] for w in model.workers)
    rhs = 1
    model.tasks_done.add(lhs == rhs)

In [10]:
model.hour_limit = pe.ConstraintList()
for w in model.workers:
    lhs = sum(model.c[w, t] * model.x[w, t] for t in model.tasks)
    rhs = model.max_hours
    model.hour_limit.add(lhs <= rhs)

## Solve and Postprocess

In [12]:
solver = po.SolverFactory('gurobi')
results = solver.solve(model, tee=True)

Restricted license - for non-production use only - expires 2023-10-25
Read LP format model from file /tmp/tmpmek32hj0.pyomo.lp
Reading time = 0.00 seconds
x31: 14 rows, 31 columns, 61 nonzeros
Gurobi Optimizer version 9.5.1 build v9.5.1rc2 (linux64)
Thread count: 1 physical cores, 2 logical processors, using up to 2 threads
Optimize a model with 14 rows, 31 columns and 61 nonzeros
Model fingerprint: 0x2c3e42a4
Coefficient statistics:
  Matrix range     [1e+00, 1e+03]
  Objective range  [3e+00, 1e+03]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 4e+01]
Presolve removed 1 rows and 1 columns
Presolve time: 0.00s
Presolved: 13 rows, 30 columns, 60 nonzeros

Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    1.8000000e+01   1.200000e+01   0.000000e+00      0s
      10    8.8000000e+01   0.000000e+00   0.000000e+00      0s

Solved in 10 iterations and 0.00 seconds (0.00 work units)
Optimal objective  8.800000000e+01

In [13]:
df = pd.DataFrame(index=pd.MultiIndex.from_tuples(model.x, names=['w', 't']))
df['x'] = [pe.value(model.x[key]) for key in df.index]
df['c'] = [model.c[key] for key in df.index]

In [14]:
(df['c'] * df['x']).unstack('t')

t    1    2    3    4    5     6     7    8    9    10
w
A   0.0  0.0  3.0  0.0  0.0   9.0  13.0  6.0  0.0  9.0
B  12.0  5.0  0.0  0.0  4.0  11.0   0.0  0.0  0.0  0.0
C   0.0  0.0  0.0  8.0  0.0   0.0   0.0  0.0  8.0  0.0

In [15]:
(df['c'] * df['x']).groupby('w').sum().to_frame()

      0
w
A  40.0
B  32.0
C  16.0

In [16]:
df['x'].groupby('t').sum().to_frame().T

t   1    2    3    4    5    6    7    8    9    10
x  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0